
<script type="text/x-template" id="vue-word-modal-form">
    <modal v-if="showModal" @close="$emit('toggle')">
        <h3 slot="header">
            <small>edit the word</small> {{ definition.mainTitle }}
        </h3>

        <div slot="body">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
                    <input
                        type="text"
                        name="title-str"
                        class="text-input center form-like"
                        placeholder="your word"
                        :value="definition.titleString"
                        autocomplete="off"
                        required>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2 col-lg-offset-5 col-md-4 col-md-offset-4">
                    <select
                        class="text-center en-text-input"
                        name="subType"
                        id="subType"
                        v-model="definition.subType">

                        <option disabled value="">[ parts of speech ]</option>
                        <option>adjective</option>
                        <option>adverb</option>
                        <option>connective</option>
                        <option>exclamation</option>
                        <option>preposition</option>
                        <option>pronoun</option>
                        <option>noun</option>
                        <option>verb</option>
                        <option>intransitive verb</option>
                    </select>
                </div>
            </div>

            <div class="row center">
                is a word in <em>{{ definition.mainLanguage.name }}</em> that means
            </div>

            <!-- Translation -->
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
                    <input
                        type="text"
                        name="translations[eng][practical]"
                        class="en-text-input center form-like"
                        placeholder="your translation"
                        :value="definition.translationData.eng.practical"
                        autocomplete="off"
                        required>
                </div>
            </div>

            <div class="row center">
                in English.
            </div>
        </div>
    </modal>
</script>

<script type="text/javascript">
Vue.component('word-form-modal', {
    props: {
        definition: {
            type: Object,
            required: true
        },
        showModal: {
            type: Boolean,
            required: true,
            default: false
        }
    },
    template: '#vue-word-modal-form'
});
</script>
