html, body, a, div, header, input, label, section {
	margin: 0;
	padding: 0;
    position: inherit;
}

body {
    position: relative;
	color: #333;
	font: normal 21px/1.618 'sinanova', Serif;
	background-color: #f7f7f7;
}
a, a:visited {
	position: relative;
	color: #333;
	text-decoration: none;
}
a.fa, a.fa:visited {
	display: inline-block;
	margin: 0 5px;
	transition: color .25s;
}
a:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: -2px;
	left: 0;
	background-color: #333;
	transform: scaleX(1);
	transition: all .2s ease-in-out;
}
a.fa:after {
	visibility: hidden;
	transform: scaleX(0);
}
a img {
	border: none;
	outline: none;
}
a:hover:after {
	transform: scaleX(.65);
}
a.fa:hover {
	color: #85cdff;
}
em {
	font-style: normal;
	font-size: 1.2em;
}
h1 {
	margin: 2px auto 5px;
	font-size: 1.5em;
	font-weight: normal;
	text-align: center;
}
h1 em {
    letter-spacing: 5px;
}
h2 {
	margin: 5px auto;
	font-size: 1.3em;
	font-weight: bold;
}
h3 {
	margin: 2px auto;
	font-size: 1.2em;
	letter-spacing: 1.5px;
}
i {
    font-style: italic;
    margin: 0 3px 0 1px;
}
pre {
	font: normal 16px/1.618 monospace;
}
section, header, footer {
	width: 550px;
}
small {
	font-size: 0.5em;
}

.left {
    text-align: left;
}
.right {
    text-align: right;
}
.center {
	text-align: center;
}
.clr {
	clear: both;
}
.edit-res {
    font-size: 0.6em;
}
.pad-bottom {
    margin-bottom: 15px;
}

@media only screen and (max-width: 600px) {

	a, a:visited {
		border-bottom: 1px solid;
	}
    a.fa, .dialog a {
        border: none;
    }
	a:after {
		visibility: hidden;
		transform: scaleX(0);
	}

    h1, h2 {
        text-align: center;
    }
	
	section, header, footer {
		margin: 0 auto 0;
		padding: 0 5%;
		width: 90%;
	}
    
    ul li, ol li {
        margin-left: 0;
    }
    
    .edit-res {
        font-size: 0.9em;
    }

}

