footer  {
	margin: 60px auto 20px;
	color: #aaa;
}
footer a, footer a:visited {
	color: #aaa;
}
footer a:after {
	background-color: #aaa;
}
footer a.fa {
	margin: 0 10px;
}
footer a.fa:hover {
	color: #333;
}

footer > div {
    width: 100%;
	margin: 5px auto;
	text-align: center;
}

footer .credits {

}
footer .credits a {

}

@media only screen and (max-width: 600px) {


}
