/**
 * Copyright Dora Boateng(TM) 2017. All rights reserved.
 */

.hero {
  position: relative;
  background: center center no-repeat;
  background-size: cover;

  a {
    color: $body-bg;
    border-bottom: 1px solid $body-bg;

    &:hover {
      color: $accent-color;
    }
  }

  .jumbotron {
    position: relative;
    margin-bottom: 0;
    height: 100%;
    background: transparent repeat url(/img/shades/back.50.png);
    @include box-shadow(0px 3px 8px #aaa);

    .container {
      position: relative;
      height: 100%;
    }
  }

  .hero-title, .hero-subtitle, .hero-text, .form {
    width: 100%;
  }

  .hero-text {
    display: none;
  }
}

.bg-credits {
  position: absolute;
  bottom: 5px;
  right: 10px;
  color: $primary-color-text;
  font-size: 0.7em;
}

@media (min-width: $screen-md-min) {

  .hero.full-hero {
    height: 100%;

    .form {
      position: absolute;
      top: 35%;
    }

    .hero-text {
      display: inline-block;
      position: absolute;
      bottom: 20%;
      left: 0;
    }
  }
}
