/**
 * Timeline styles
 * Credits: https://codyhouse.co/gem/vertical-timeline/
 */
.timeline {
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em;
}

/**
 * Vertical line
 */
.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 1px;
    background: #ccc;
}

.timeline .event {
    position: relative;
    margin: 2em 0;
}
.timeline .event:after {
    content: "";
    display: table;
    clear: both;
}
.timeline .event:first-child {
    margin-top: 0;
}
.timeline .event:last-child {
     margin-bottom: 0;
}

.timeline .event-marker {
    position: absolute;
    top: 50%;
    left: 13px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #aaa;
}

.timeline .event-details {
    position: relative;
    margin-left: 60px;
    background: #eee;
    padding: 1em;
    /*border: 1px solid #ccc;*/
}
.timeline .event-details:after {
    content: "";
    display: table;
    clear: both;
}
.timeline .event-details::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid #ccc;
}
.timeline .event-details p,
.timeline .event-details ul {
    font-size: .85em;
}

.timeline h1 {
    text-align: left;
    font-size: 1.2em;
}

.timeline .date {
    display: inline-block;
    float: left;
    color: #ccc;
}

/**
 * Desktops
 */
 @media only screen and (min-width: 768px) {

 }

/**
 * Large screens
 */
@media only screen and (min-width: 1170px) {
    .timeline {
        margin-top: 3em;
        margin-bottom: 3em;
    }
    .timeline::before {
        left: 50%;
        margin-left: -1px;
    }

    .timeline .event {
        margin: 4em 0;
    }
    .timeline .event:first-child {
        margin-top: 0;
    }
    .timeline .event:last-child {
        margin-bottom: 0;
    }

    .timeline .event-marker {
        top: 48px;
        left: 49.31%;
        left: 50%;
        width: 7px;
        height: 7px;
        -webkit-transform: translateX(-55%);
        -ms-transform: translateX(-55%);
        -o-transform: translateX(-55%);
        transform: translateX(-55%);
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }

    .timeline .event-details {
        margin-left: 0;
        padding: 1.6em;
        width: 45%;
    }
    .timeline .event-details::before {
        top: 43px;
        left: 100%;
        border-color: transparent;
        border-left-color: #ccc;
    }
    .timeline .event-details .date {
        position: absolute;
        width: 100%;
        left: 122%;
        top: 25px;
        font-size: 1.4em;
    }
    .timeline .event:nth-child(even) .event-details {
        float: right;
    }
    .timeline .event:nth-child(even) .event-details::before {
        top: 43px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: #ccc;
    }
    .timeline .event:nth-child(even) .event-details .date {
        left: auto;
        right: 122%;
        text-align: right;
    }
}
